services:
  api:
    image: api
    build:
      context: .
      dockerfile: JobTrackerAPI/Dockerfile
    depends_on:
      - database
    ports:
      - 8080:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
  
  database:
    image: postgres:15
    container_name: database
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=jobs
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
volumes:
  pgdata: